@import "./media-breakpoints.scss";
@import "./custom-grid-styles.scss"; 

$columns: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten" "eleven" "twelve";
$base-width-keys: (
  base-width-one,
  base-width-two,
  base-width-three,
  base-width-four,
  base-width-five,
  base-width-six,
  base-width-seven,
  base-width-eight,
  base-width-nine,
  base-width-ten,
  base-width-eleven,
  base-width-twelve
);
$base-width-vals: (
  ((100% / 12) * 1) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 2) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 3) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 4) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 5) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 6) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 7) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 8) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 9) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 10) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 11) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2),
  ((100% / 12) * 12) - #{$padding-amount-x} * 2 - #{$gutter} - (#{$border-width-x} * 2)
);

.row{
  width: $row-width;
  margin: 0 auto;
  clear: both;
  .column,
  .columns{
    text-align: center;
    padding: $padding-amount-y $padding-amount-x;
    margin-left: $gutter;
    margin-bottom: $margin-amount-y;
  }
  .column,
  .columns{
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{ 
      width: 100%;
      margin-left: $gutter;
      margin-right: $gutter;
    }
    &:first-child{
      margin-left: 0;
    }
    @include breakpoint(sml){
        display: inline;
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
      &:first-child{
        margin-left: 0;
      }        
    }           
  }

  @each $key in $base-width-keys {
    $width-index: index($base-width-keys, $key);
    &.row-of-#{nth($columns, $width-index)} {
      @each $column in $columns {
        div.column, div.columns{
          $col-index: index($columns, $column);
          &.#{$column}{
            width: calc(#{nth($base-width-vals, $col-index)} + #{$gutter} / #{$width-index});
          }                      
        }
      }
    }
  }

}