/* dev */
* {
  font: 10px menlo;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 70px auto;
  padding: 0px;
}

/* end dev */
.row .column,
.row .columns {
  border-radius: 3px;
  border: 1px solid #333333;
  display: inline-block;
  margin: 0;
  float: left;
  background: lightgray;
}

.row {
  width: 80%;
  margin: 0 auto;
  clear: both;
}
.row .column,
.row .columns {
  text-align: center;
  padding: 8px 0px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.row .column .one, .row .column .two, .row .column .three, .row .column .four, .row .column .five, .row .column .six, .row .column .seven, .row .column .eight, .row .column .nine, .row .column .ten, .row .column .eleven, .row .column .twelve,
.row .columns .one,
.row .columns .two,
.row .columns .three,
.row .columns .four,
.row .columns .five,
.row .columns .six,
.row .columns .seven,
.row .columns .eight,
.row .columns .nine,
.row .columns .ten,
.row .columns .eleven,
.row .columns .twelve {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.row .column:first-child,
.row .columns:first-child {
  margin-left: 0;
}
@media (max-width: 600px) {
  .row .column,
  .row .columns {
    display: inline;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .row .column:first-child,
  .row .columns:first-child {
    margin-left: 0;
  }
}
.row.row-of-one div.column.one, .row.row-of-one div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.two, .row.row-of-one div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.three, .row.row-of-one div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.four, .row.row-of-one div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.five, .row.row-of-one div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.six, .row.row-of-one div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.seven, .row.row-of-one div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.eight, .row.row-of-one div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.nine, .row.row-of-one div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.ten, .row.row-of-one div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.eleven, .row.row-of-one div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-one div.column.twelve, .row.row-of-one div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 1);
}
.row.row-of-two div.column.one, .row.row-of-two div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.two, .row.row-of-two div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.three, .row.row-of-two div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.four, .row.row-of-two div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.five, .row.row-of-two div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.six, .row.row-of-two div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.seven, .row.row-of-two div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.eight, .row.row-of-two div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.nine, .row.row-of-two div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.ten, .row.row-of-two div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.eleven, .row.row-of-two div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-two div.column.twelve, .row.row-of-two div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 2);
}
.row.row-of-three div.column.one, .row.row-of-three div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.two, .row.row-of-three div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.three, .row.row-of-three div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.four, .row.row-of-three div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.five, .row.row-of-three div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.six, .row.row-of-three div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.seven, .row.row-of-three div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.eight, .row.row-of-three div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.nine, .row.row-of-three div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.ten, .row.row-of-three div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.eleven, .row.row-of-three div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-three div.column.twelve, .row.row-of-three div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 3);
}
.row.row-of-four div.column.one, .row.row-of-four div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.two, .row.row-of-four div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.three, .row.row-of-four div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.four, .row.row-of-four div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.five, .row.row-of-four div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.six, .row.row-of-four div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.seven, .row.row-of-four div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.eight, .row.row-of-four div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.nine, .row.row-of-four div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.ten, .row.row-of-four div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.eleven, .row.row-of-four div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-four div.column.twelve, .row.row-of-four div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 4);
}
.row.row-of-five div.column.one, .row.row-of-five div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.two, .row.row-of-five div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.three, .row.row-of-five div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.four, .row.row-of-five div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.five, .row.row-of-five div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.six, .row.row-of-five div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.seven, .row.row-of-five div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.eight, .row.row-of-five div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.nine, .row.row-of-five div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.ten, .row.row-of-five div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.eleven, .row.row-of-five div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-five div.column.twelve, .row.row-of-five div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 5);
}
.row.row-of-six div.column.one, .row.row-of-six div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.two, .row.row-of-six div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.three, .row.row-of-six div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.four, .row.row-of-six div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.five, .row.row-of-six div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.six, .row.row-of-six div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.seven, .row.row-of-six div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.eight, .row.row-of-six div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.nine, .row.row-of-six div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.ten, .row.row-of-six div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.eleven, .row.row-of-six div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-six div.column.twelve, .row.row-of-six div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 6);
}
.row.row-of-seven div.column.one, .row.row-of-seven div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.two, .row.row-of-seven div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.three, .row.row-of-seven div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.four, .row.row-of-seven div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.five, .row.row-of-seven div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.six, .row.row-of-seven div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.seven, .row.row-of-seven div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.eight, .row.row-of-seven div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.nine, .row.row-of-seven div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.ten, .row.row-of-seven div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.eleven, .row.row-of-seven div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-seven div.column.twelve, .row.row-of-seven div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 7);
}
.row.row-of-eight div.column.one, .row.row-of-eight div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.two, .row.row-of-eight div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.three, .row.row-of-eight div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.four, .row.row-of-eight div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.five, .row.row-of-eight div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.six, .row.row-of-eight div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.seven, .row.row-of-eight div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.eight, .row.row-of-eight div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.nine, .row.row-of-eight div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.ten, .row.row-of-eight div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.eleven, .row.row-of-eight div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-eight div.column.twelve, .row.row-of-eight div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 8);
}
.row.row-of-nine div.column.one, .row.row-of-nine div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.two, .row.row-of-nine div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.three, .row.row-of-nine div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.four, .row.row-of-nine div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.five, .row.row-of-nine div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.six, .row.row-of-nine div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.seven, .row.row-of-nine div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.eight, .row.row-of-nine div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.nine, .row.row-of-nine div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.ten, .row.row-of-nine div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.eleven, .row.row-of-nine div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-nine div.column.twelve, .row.row-of-nine div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 9);
}
.row.row-of-ten div.column.one, .row.row-of-ten div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.two, .row.row-of-ten div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.three, .row.row-of-ten div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.four, .row.row-of-ten div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.five, .row.row-of-ten div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.six, .row.row-of-ten div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.seven, .row.row-of-ten div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.eight, .row.row-of-ten div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.nine, .row.row-of-ten div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.ten, .row.row-of-ten div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.eleven, .row.row-of-ten div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-ten div.column.twelve, .row.row-of-ten div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 10);
}
.row.row-of-eleven div.column.one, .row.row-of-eleven div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.two, .row.row-of-eleven div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.three, .row.row-of-eleven div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.four, .row.row-of-eleven div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.five, .row.row-of-eleven div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.six, .row.row-of-eleven div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.seven, .row.row-of-eleven div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.eight, .row.row-of-eleven div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.nine, .row.row-of-eleven div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.ten, .row.row-of-eleven div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.eleven, .row.row-of-eleven div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-eleven div.column.twelve, .row.row-of-eleven div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 11);
}
.row.row-of-twelve div.column.one, .row.row-of-twelve div.columns.one {
  width: calc(8.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.two, .row.row-of-twelve div.columns.two {
  width: calc(16.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.three, .row.row-of-twelve div.columns.three {
  width: calc(25% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.four, .row.row-of-twelve div.columns.four {
  width: calc(33.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.five, .row.row-of-twelve div.columns.five {
  width: calc(41.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.six, .row.row-of-twelve div.columns.six {
  width: calc(50% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.seven, .row.row-of-twelve div.columns.seven {
  width: calc(58.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.eight, .row.row-of-twelve div.columns.eight {
  width: calc(66.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.nine, .row.row-of-twelve div.columns.nine {
  width: calc(75% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.ten, .row.row-of-twelve div.columns.ten {
  width: calc(83.33333% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.eleven, .row.row-of-twelve div.columns.eleven {
  width: calc(91.66667% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
.row.row-of-twelve div.column.twelve, .row.row-of-twelve div.columns.twelve {
  width: calc(100% - 0px * 2 - 5px - 1px * 2 + 5px / 12);
}
