@import "./media-breakpoints.scss";

$padding-amount-x: 0px;
$padding-amount-y: 8px;
$margin-amount-x: 5px;
$margin-amount-y: 5px;
$border-width-x: 1px;

$row-width: 80%;
$columns: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten" "eleven" "twelve";

/* dev */
*{
  font: 10px menlo, monospace;
  margin: 0px;
  padding: 0px;
}
body{
  margin: 50px auto;
  padding: 0px;
}

/*.row{
 &:after{
    clear: both;
    content: "";
    display: block;
  }
}*/
/* end dev */ 

.row{
  width: $row-width;
  margin: 0 auto;
  clear: both;
  .column,
  .columns{
    text-align: center;
    border-radius: 3px;
    border: $border-width-x solid #333333;
    display: inline-block;
    background: lightgray;
    margin: 0;
    float: left;
    padding: $padding-amount-y $padding-amount-x;
    margin-left: $margin-amount-x;
    margin-bottom: $margin-amount-y;
  }
  .column,
  .columns{
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
      width: 100%;
      margin-left: $margin-amount-x;
      margin-right: $margin-amount-x;
    }
    &:first-child{
      margin-left: 0;
    }
    @include breakpoint(sml){
        display: inline;
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
      &:first-child{
        margin-left: 0;
      }        
    }           
  }

  @each $column in $columns {
    $i: index($columns, $column);
    &.row-of-#{$column}{
      .one{
        width: calc(((100% / 12) * 1) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .two{
        width: calc(((100% / 12) * 2) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .three{
        width: calc(((100% / 12) * 3) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .four{
        width: calc(((100% / 12) * 4) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .five{
        width: calc(((100% / 12) * 5) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }    
      .six{
        width: calc(((100% / 12) * 6) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }    
      .seven{
        width: calc(((100% / 12) * 7) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .eight{
        width: calc(((100% / 12) * 8) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .nine{
        width: calc(((100% / 12) * 9) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .ten{
        width: calc(((100% / 12) * 10) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }  
      .eleven{
        width: calc(((100% / 12) * 11) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }
      .twelve{
        width: calc(((100% / 12) * 12) - #{$padding-amount-x} * 2 - #{$margin-amount-x} - (#{$border-width-x} * 2) + (#{$margin-amount-x} / #{$i}));
      }    
    }
  }

}


